.body {
    background: lightcoral;
    font-family: 'Indie Flower';
    font-size: 400;
    font-weight: bolder;
}


.container {
    display: grid;
    justify-content: center;
    text-align: center; }